<div class="bg-white w-[650px] rounded-lg shadow p-6 mb-8">
    <div class="flex justify-start items-center w-full">
        <div class="flex-shrink-0 mr-5">
            <div class="
                bg-gray-300 
                text-blue-600
                rounded-full
                w-12 h-12
                cursor-pointer
                flex
                items-center
                justify-center">
                LW
            </div>
        </div>
        <div>
            <p>{{tweetMenssage}}</p>
        </div>
    </div>    
</div>