<div class="bg-white shadow">
    <div class="container mx-auto px-2 py-2 md:py-3">
        <div class="flex justify-between items-center"> 
            <div class="justify-between flex text-lg md:text-xl font-bold">
                <img src="assets/twitter-logo.png" alt="Twitter Logo" class="h-8 w-8 mr-2">
                <h1>Twitter</h1>               
            </div>
            <div class="relative">
                <div class="bg-blue-200 text-blue-600 rounded-full w-10 h-10 cursor-pointer flex items-center justify-center">
                    LW
                </div>
            </div>
        </div>
    </div>
</div>